<div class ="container">
  <h2> Your messages </h2>
  <div class="tabs"> Inbox </div>
    <ul class="inbox">
      <% @messages.each do |message| %>
        <% if message.user_id != message.office.user_id %>
          <li class="message">
              <% avatar_url = message.user.facebook_picture_url || message.user.avatar %>
              <%= image_tag avatar_url, class: "avatar-large" %>
              <div class="message-name">
                <h3><%= message.user.user_name %></h3> <!-- sender -->
                <p><%= message.created_at.strftime("%Y-%m-%d") %></p>
              </div>
            <hgroup class="speech-bubble">
              <div class="message-body">
                <p><strong> <%= message.title %></strong></p> <!-- message header -->
                <p>
                  <%= link_to message.content[0,20] + "...", message_path(message) %> <!-- message first line -->
                </p>
              </div>
            </hgroup>
          </li>
        <% end %>
      <% end %>

      <!--   <div class="message-status"> -->
       <!--  <p class="status pending"> </p>  --><!-- status, ie. pending, solved -->
       <!-- <p class="price"><%#= @message.receive_messages.price %></p> --> <!-- price -->
       <!-- </div> -->
    </ul>
</div>
