
<div class="content">
  <div class="card-container">
    <div class="row">
      <% @offices.each do |office| %>
        <% main_photo = office.photos[0] %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path main_photo.path, height: 300, width: 400, crop: :fill %>')">
          <div class="card-description">
            <h2><%= link_to office.description, office_path(office) %></h2>
            <p> <%= office.address %></p>
            <span><%= office.type %></span>
            <span>€ <%= office.price_per_hour %> per hour</span>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <% end %>
    </div>
  <div id="map" class="index-map"> </div>
  <script>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
  </script>
  </div>

</div>

