
<div class="container no-margin index-container">
  <div class="cards">
    <div class="row">
       <% @offices.each do |office| %>
       <div class="col-xs-12 col-sm-4">
        <% main_photo = office.photos[0] %>
        <div class="office-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path main_photo.path, crop: :fill %>');">
          <div class="card-category"><%= office.type %></div>
          <div class="card-description">
            <h2><%= office.address %></h2>
            <p>€ <%= office.price %> per hour</p>
          </div>
          <%# if office.user.facebook_picture_url %>
            <%#= image_tag office.user.facebook_picture_url, class: "card-user" %>
          <%# end %>
          <%= link_to "", office_path(office), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map" class="index-map">
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
    handler.getMap().setZoom(14);
    }
    });
    <% end %>
  <% end %>
  </div>

</div>
