
<div class="no-margin index-container">
  <div class="cards">

    <div class="form-inlin filter-card">
      <div class="form-groupe">
        <div class="filters-period">
          <div class="filters-background top-border-radius">
            <label>
              <input type="radio" name="filter-one" id="hourly" value=".hourly" checked="checked" /><label for="hourly" class="filter-padding left-top-border-radius">hourly</label>
            </label>
            <label>
              <input type="radio" name="filter-one" id="daily" value=".daily" /> <label for="daily" class="label-border-left filter-padding">daily</label>
            </label>
            <label>
              <input type="radio" name="filter-one" id="weekly" value=".weekly" /> <label for="weekly" class="label-border-both filter-padding">weekly</label>
            </label>
            <label>
              <input type="radio" name="filter-one" id="monthly" value=".monthly" /> <label for="monthly" class="filter-padding right-top-border-radius">monthly</label>
            </label>
          </div>
        </div>
      </div>
      <div class="form-groupe">
        <div class="filters-price">
          <div class="filters-background bottom-border-radius">
            <label>
              <input type="radio" name="filter-two" id="100" data-min="1" data-max="100" value="SmallerThan100" /><label for="100" class="filter-padding left-bottom-border-radius">1€-100€</label>
            </label>
            <label>
              <input type="radio" name="filter-two" id="500" data-min="100" data-max="500" value="SmallerThan500" /><label for="500" class="label-border-both filter-padding">100€-500€</label>
            </label>
            <label>
              <input type="radio" name="filter-two" id="999" data-min="500" data-max="10000000" value="BigggerThan500" /> <label for="999" class="filter-padding right-bottom-border-radius">500€+</label>
            </label>
          </div>
        </div>
      </div>
    </div>


    <div class="grid">
      <div class="row">
       <% @offices.each do |office| %>
       <div class="col-xs-12 col-md-4">
        <% main_photo = office.photos[0] %>
        <div class="office-card" data-price="<%= office.price %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path main_photo.path, crop: :fill %>');">
          <div class="card-category"><%= office.office_type %></div>
          <div class="card-description">
            <h5><%= office.address %></h5>
            <p class="price-tag"><%= office.price %>€ per <%= office.period %></p>
          </div>
          <% if office.user %>
            <% avatar_url = office.user.facebook_picture_url || office.user.avatar %>
            <%= image_tag avatar_url, class: "card-user" %>
          <% end %>
          <%= link_to "", office_path(office), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="map" class="index-map"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
<%= render 'shared/map_styles' %>
var handler = Gmaps.build('Google');
handler.buildMap({ provider: { styles: styles }, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>

</div>
