
<% content_for(:navbar_title) do %>
<h2 class='navbar-wagon-center'>Add a new office you want to rent</h2>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= simple_form_for @office do |f| %>
        <%= f.input :size, collection: [["1 Person"], ["1-10 Persons"], ["10-50 Persons"], ["50-100 Persons"]], label: "What is the capacity of your office?" %>
        <%= f.input :address, label: "What is the address of the office?" %>
        <%= f.input :city %>
        <%= f.input :type, collection: ["Co-working Space", "Private Rooms", "Team Rooms", "Open office", "Work lounge"] %>
        <div class="price-div form-inline">
          <%= f.input :price %>
          <p>per</p>
          <%= f.select :period, collection: ["Hour", "Day", "Week", "Month"] %>
        </div>
        <%= f.input :description  %>
        <%= f.input :facility_standard  %>
        <div class="availability-div">
          <%= f.input :available_from  %>
          <%= f.input :available_to  %>
        </div>
        <%= f.input :photos, as: :attachinary %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

