
<% content_for(:navbar_title) do %>
<h2 class='navbar-wagon-center'>Add a new office you want to rent</h2>
<% end %>

<div class="background-new-office">
  <div class="container">
    <div class="white-background-office">
      <div class="row">
        <div class="col-xs-4">
          <div class="new-office-page">
            <%= simple_form_for(@office, :defaults => { :input_html => { :class => "blue-grey" } }) do |f| %>
              <%= f.input :name %>
              <%= f.input :description  %>
              <%= f.input :address, label: "What is the address of the office?" %>
              <%= f.input :city, label: "In which city is the office located" %>
              <%= f.input :size, collection: ["1 Person", "1-10 Persons", "10-50 Persons", "50-100 Persons"], label: "What is the capacity of your office?" %>
              <%= f.input :office_type, collection: ["Co-working Space", "Private Rooms", "Team Rooms", "Open office", "Work lounge"] %>
              <div class="price-div form-inline">
                <%= f.input :price %>
                <h4 id="per-new">per</h4>
                <%= f.select :period, collection: ["Hour", "Day", "Week", "Month"]%>
              </div>
              <%= f.input :facility_standard  %>
              <div class="availability-div">
                <%= f.input :available_from  %>
                <%= f.input :available_to  %>
              </div>
              <%= f.input :photos, as: :attachinary %>
              <%= f.button :submit, "Create Office", class: "yellow-btn" %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-4">

        </div>
      </div>
    </div>
  </div>
</div>
