
<div class="container">
  <div class="row">
  <div class="photo-banner">
    <% @office.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>
  </div>
  <div class="user-card">
    <% if @office.user.facebook_picture_url %>
    <%= image_tag @office.user.facebook_picture_url%>
    <% end %>
    <%= @office.user.first_name + " " + @office.user.last_name %>
    <%= @office.user.job_field %>
  </div>
  <div class="booking-card">
    <h4>this is the booking card</h4>
  </div>
  <div class="details">
    <%= @office.price %>
    <%= @office.description %>
    <%= @office.size %>
    <%= @office.facility_standard %>
  </div>
  <div class="map">

  </div>
</div>
</div>

