

  <div class="landing-background">
<div class="text-center search-position">
    <div class="headline">
      <h1>Ninja offices</h1>
      <h3>Search for an office to stay</h3>
    </div>
    <div class="search-form">
      <%= form_for(:search, url: offices_path, method: :get) do |f| %>
      <i class="fa fa-search magnifying-glass" aria-hidden="true"></i>
        <%= f.text_field :address_search, label: "Address", placeholder: "Friedrichstr. 24, Berlin", class: "blue-grey search-input" %>
        <%= f.select :size_search, [["1 Person"], ["1-10 Persons"], ["10-50 Persons"], ["50-100 Persons"]], { label: "Choose your favorite fruit:" }, class: "blue-grey person-selector" %>
        <%= f.submit 'Search', class: "yellow-btn search-btn-landing" %>
      <% end %>
    </div>
  </div>
</div>

 <div class="wrapper">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag "briefcase.png", class: "landing-icon briefcase" %>
          <h4>Productivity</h4>
          <p>Work more productive then ever.</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= image_tag "heart.png", class: "landing-icon" %>
          <h4>People</h4>
          <p>Work with people you love.</p>
        </div>
        <div class="col-xs-12 col-md-3">
        <%= image_tag "dollar.png", class: "landing-icon" %>
          <h4>Money</h4>
          <p>Earn money by renting space you don't need.</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= image_tag "beer.png", class: "landing-icon" %>
          <h4>Cultures</h4>
          <p>Experience many different cultures.</p>
        </div>
      </div>
    </div>
  </div>
